@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    transition: text-shadow 0.2s ease-in;
    text-shadow: 0 0 10px rgb(0, 0, 0), /* horizontal offset, vertical offset, blur radius, color */
                 0 0 20px rgb(0, 0, 0),
                 0 0 30px #000000,
                 0 0 40px #000000;
  }

  .glow:hover {
    text-shadow: 0 0 10px rgb(85, 255, 0), /* horizontal offset, vertical offset, blur radius, color */
                 0 0 20px #79ff51,
                 0 0 30px rgb(81, 255, 0),
                 0 0 50px rgb(255, 255, 255);
  }

.notes-bg {
    background-image: url('/images/notes.png');
    background-size: cover;
    background-position: center;
}


.sunset-bg {
    background-image: url('/images/sunset.png');
    background-size: cover;
    background-position: center;
}


.forbidden-bg {
    background-image: url('/images/forbidden.jpeg');
    background-size: cover;
    background-position: center;
}

.falsereality1{
    background-image: url('/images/falsereality1.png');
    background-size: cover;
    background-position: right;
}

.twentytwentyfour{
    background-image: url('/images/2024.png');
    background-size: cover;
    background-position: center;
}

.login-bg {
    background-image: url('/images/6198assisstant.png');
    background-size: cover;
    background-position: center;
}

.glow {
    transition: text-shadow 0.2s ease-in;
    text-shadow: 0 0 10px rgb(0, 0, 0), /* horizontal offset, vertical offset, blur radius, color */
                 0 0 20px rgb(0, 0, 0),
                 0 0 30px #000000,
                 0 0 40px #000000;
  }

  .glow:hover {
    text-shadow: 0 0 10px rgb(85, 255, 0), /* horizontal offset, vertical offset, blur radius, color */
                 0 0 20px #79ff51,
                 0 0 30px rgb(81, 255, 0),
                 0 0 50px rgb(255, 255, 255);
  }

  .staticGlow {
    text-shadow: 0 0 10px rgb(85, 255, 0), /* horizontal offset, vertical offset, blur radius, color */
                 0 0 20px #79ff51,
                 0 0 30px rgb(81, 255, 0),
                 0 0 50px rgb(255, 255, 255);
  }

  .yayo-border-blue {
    transition: border-image 0.5s ease-in-out;
    transition: border-width 0.5s ease-in-out;
    border: 1vw solid transparent;
    border-image: url('borders/blueborder.png') 10 repeat;
  }

  .yayo-border-pink {
    transition: border-image 0.5s ease-in-out;
    transition: border-width 0.5s ease-in-out;
    border: 1vw solid transparent;
    border-image: url('borders/pinkborder.png') 10 stretch;
  }
